NEXT_PUBLIC_API_URL=https://entraverse.vercel.app/api
NEXT_PUBLIC_APP_URL=https://entraverse.vercel.app
NEXT_PUBLIC_AUTH_REFRESH_ENDPOINT=
BLOB_READ_WRITE_TOKEN=

# Sentry Error Tracking
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
